body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(27, 165, 73);
    color: white;
}

.Contact{
    position: absolute;
    width: 600px;
    height: 300px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
}

input{
    width:100%;
    max-width: 270px;
    height: 30px;
    transition: 0.5s;
    border-style:dotted;
    border-width: 2px;
    border-radius: 4px;
    border-color: rgb(4, 16, 46);
}

input:hover{
    border-style:solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: #000000;
    transition: 0.5s;
}

input:focus{
    transition: 0.5s;
    color: #000000;
}

input::placeholder{
    transition: 0.5s;
    opacity: 40%;
}

.visit input{
    transition: 0.5s;
}

input:hover::placeholder{
    transition: 0.5s;
    opacity: 0.7;
    color: cornflowerblue;
}

iframe{
    border: none;
    width: 599px;
    height: 350px;
}

h3{
    text-align: center;
}

.VIDEO{
    display: flex;
    justify-content: center;
}

fieldset{
    border:none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.visit{
    grid-column-start: 1;
    grid-column-end: 3;
}

.avd_div{
    margin:30px auto;
    padding:0;
    text-align:center;
    display:block;
}

fieldset div{
    text-align: center;
}

.buttons{
    grid-column-start: 1;
    grid-column-end: 3;
}

.buttons {
    margin-top: 10px ;
}

.subbutton1{
    border-radius: 5px;
    color:#880202;
    border:1px solid #b9b9b9;
    background-color:#fff;
    font-size:18px;
    overflow:hidden;
    display:inline-block;
    outline:medium none;
    padding:10px 50px;
    position:relative;
    text-decoration:none;
    z-index:1;
    box-shadow:0 0 4px #999;
}
.subbutton1::after{
    border-radius: 10%;
    background-color:#880202;
    left:50%;
    top:50%;
    height:0;
    width:140%;
    transform:translateX(-50%) translateY(-50%);
    opacity:0.5;
    position:absolute;
    content:"";
    transition:all 0.5s ease 0s;
    z-index:-1;
}
.subbutton1:hover::after{
    height:140%;
    opacity:1;
}
.subbutton1:hover, .subbutton:active{
    color:#fff;
    text-shadow:0 1px 2px #333;
}
 *::after{
    box-sizing:border-box;
}



  @media (max-width: 1000px){
    input{
        width:100%;
        max-width: 200px;
    }
}

@media (max-width: 712px){
    fieldset{
        grid-template-columns: 1fr;
    }
    .adr{
        grid-row-start: 2;
    }
    .tel{
        grid-row-start: 3;
    }
    .mail{
        grid-row-start: 4;
    }
    .Contact{
        position: absolute;
        width: 400px;
        height: 300px;
    }
}
.btn-4 {
    text-decoration: none;
    color: #000;
    padding: 20px 40px;
    border: none;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
}

.btn-4::after,
.btn-4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  transition: transform 0.2s;
}

.btn-4::after {
  transform: translate(3px, 3px);
}

.btn-4::before {
  transform: translate(-3px, -3px);
}

.btn-4:hover::after,
.btn-4:hover::before {
  transform: translate(0, 0);
}
